@include font("Muller", "MullerBold", "700", "normal");
@include font("Muller", "MullerMedium", "500", "normal");
@include font("Muller", "MullerRegular", "400", "normal");
@include font("Muller", "MullerLight", "300", "normal");

@font-face {
  font-family: 'custom-icons';
  src:  url('../fonts/custom-icons.eot?9up2f8');
  src:  url('../fonts/custom-icons.eot?9up2f8#iefix') format('embedded-opentype'),
    url('../fonts/custom-icons.ttf?9up2f8') format('truetype'),
    url('../fonts/custom-icons.woff?9up2f8') format('woff'),
    url('../fonts/custom-icons.svg?9up2f8#custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-white-left:before {
  content: "\e908";
  color: #ffe9cd;
}
.icon-arrow-white-right:before {
  content: "\e909";
  color: #ffe9cd;
}
.icon-vk:before {
  content: "\e900";
  color: #fff;
}
.icon-inst:before {
  content: "\e901";
  color: #fff;
}
.icon-facebook:before {
  content: "\e902";
  color: #fff;
}
.icon-phone:before {
  content: "\e903";
  color: #ffe9cd;
}
.icon-chevron-right:before {
  content: "\e904";
  color: #ffe9cd;
}
.icon-triangle:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-left:before {
  content: "\e907";
}
